body{
    margin: 0px;
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}

.box{
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: 0px;
    /* border: 5px; */
    /* display: inline-block; */
}
.box-1{
    /* text-align: center;
    font-size: 100px; */
    background-color: rgb(255, 105, 180);
    /* position:fixed; */
    /* top: 30px;
    left: 100px; */
    /* z-index: -1; */
    /* display: none; */
    /* visibility: hidden; */
}
.box-2{
    background-color: rgb(255, 255, 133);
}
.box-3{
    background-color: rgb(47, 238, 37);
    /* position:sticky;
    top: 30px; */
}
.big{
    width: 100%;
    height: 50px;
    padding: 10%;
    background-color: rgb(183, 234, 248);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    /* margin: auto; */
    flex-wrap: wrap;
    margin: 5% auto;
}
#myContainer{
    /* width: 100%; */

}
#myContainer2{
    
}
canvas{
    width: 100% !important;
    height: 100% !important;

}
span{
    background-color: aqua;
    margin: 5px;
    display:block;
}