body{
    /* margin: 5% auto; */
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}

.box{
    width: 100%;
    height:100%;
    margin: 100px;

}

.box-1{
    background-color: rgb(255, 105, 180);
}
.box-2{
    background-color: rgb(255, 255, 133);
}
.box-3{
    background-color: rgb(47, 238, 37);
}
.big{
    background-color: rgb(183, 234, 248);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.flex-container{
    display:flex;
    flex-direction:row;
    width: 600%;
    height: 60vh;
    margin: 0 auto;
}

span{
    background-color: aqua;
    margin: 5px;
    display:block;
}

.canvas1Frame{
    width: 100% !important;
    height: 100% !important;

}
.iframe{
    display:block;
}
