body{
    margin: auto;
    background-color: #fff;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .box{
    background-color: rgb(255, 208, 229);
  }
  
  .big{
    margin: 100px;
    text-align: center;
    padding-top:5%;
    padding-bottom: 20%;
  }
  
  #title{
    font-size: 140px;
    font-weight: 600;
    padding-right: 10%;
    padding-left: 10%;
  }

  #para{
    font-size: 45px;
    font-weight: 200;
    padding-right: 23%;
    padding-left: 23%;
    padding-bottom: 5%;
  }

  .ins{
    font-size: 45px;
    font-weight: 300;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
  }

  .itl{
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
  }

  #diy{
    color: #fff;
    margin: 10%;
    background-color: deeppink;
    font-size: 70px;
    font-weight: 600;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;

  }
  
  #transit{
    font-size: 30px;
    font-weight: 520;
    color:rgb(233, 148, 148);
    padding-right: 5%;
    padding-bottom: 0%;
    text-align: right;
    margin:0%;
  }